@use 'base/variables' as V;
@use 'base/mixins' as M;

.confirmar{

    margin-top: 2rem;
    .uptask{
        @include M.textoDegradado(V.$naranja, 7rem, center);
    }

    .contenedor-logo-redirigir{
        display: flex;
        justify-content: center;
        img{
            width: 15rem;
        }
    }
}